
/* .link{
    text-decoration: none;
    list-style: none;
    color: black;
} */
.home-container{
    padding: 50px;
}
.home-container img{
    object-fit:cover;
    width: 100%;
    height: 500px;
}
.card-container{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.cards{

    padding-top: 40px;
    width: 70%;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.about{
    margin: 30px 100px;
    border: 1px solid rgba(0, 0, 0, 0.245);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
@media (max-width: 900px) {
    .cards {
        flex-wrap: wrap;
        gap: 10px;
       
}
    
    
}